header {
  background: url(../img/bg.jpg), #019851;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  overflow: hidden;

  .header {
    &__container {
      padding: 25px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    &__thumbnail {
      display: block;
      img {
        vertical-align: top;
      }
    }
    &__nav {
      text-align: right;
      line-height: 50px;
      a {
        color: #fff;
        margin-left: 50px;
        font-size: 1.8rem;
        text-decoration: none;
        transition: color 0.15s;
        &:hover {
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
    &__text {
      margin: 200px 0;
      color: #fff;
      text-align: center;
    }

    &__title,
    &__subtitle {
      font-weight: 300;
    }
    &__title {
      font-size: 3.5rem;
      margin-bottom: 30px;
    }
    &__subtitle {
      font-size: 2.5rem;
      margin-bottom: 60px;
    }
    &__buttons {
      a {
        border-radius: 4px;
        border: 2px solid #fff;
        color: #fff;
        padding: 12px 0;
        font-weight: 600;
        width: 235px;
        display: inline-block;
        text-align: center;
        margin: 20px 10px;
        text-decoration: none;
        transition: all 0.15s;
        &:hover {
          text-decoration: none;
          background: #fff;
          color: #4f4f4f;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__thumbnail {
      text-align: center;
    }
    &__nav {
      text-align: center !important;
    }
  }
}
