.caracteristicas {
  padding: 70px 0;
  &__title {
    text-align: center;
    font-weight: 300;
    font-size: 3.2rem;
    color: #000;
    margin-bottom: 70px;
  }
  &__card {
    text-align: center;
  }
  &__icon1 {
    margin-bottom: 30px;
  }
  &__first-line {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  &__paragraph {
    margin-bottom: 30px;
    line-height: 28px;
  }
}

.fotos {
  margin-bottom: 70px;
  &__container {
    margin-bottom: 20px;
  }
  &__img {
    border-radius: 3px;
    width: 100%;
  }
  &__title {
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 3.2rem;
    line-height: 32px;
    font-weight: 300;
    &--blue {
      color: #4facd3;
    }
    &--orange {
      color: #ddb156;
    }
  }
  &__paragraph {
    line-height: 28px;
  }
  &__texto--right {
    text-align: right;
  }
}

.clientes {
  background: #2d353e;
  padding: 40px 0;
  &__title {
    text-align: center;
    font-weight: 300;
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 40px;
  }
  &__cliente {
    text-align: center;
    a {
      display: block;
    }
  }
}

.precios {
  background: url(../img/precios-bg.jpg), #727171;
  background-size: cover;
  background-position: center 0;
  padding: 70px 0;
  &__title {
    text-align: center;
    font-weight: 300;
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 70px;
  }
  &__plan {
    background: #fff;
    text-align: center;
    padding: 50px 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
    &--green {
      .precios {
        &__name,
        &__price {
          color: #86b773;
        }
        &__button {
          color: #86b773;
          border: 2px solid #86b773;
          transition: all 0.2s;
          &:hover {
            background: #86b773;
            color: #fff;
          }
        }
      }
    }
    &--active {
      background: #4c8dce;
      color: #fff;
      .precios {
        &__button {
          color: #fff;
          border: 2px solid #fff;
          transition: all 0.2s;
          &:hover {
            background: #fff;
            color: #4c8dce;
          }
        }
      }
    }
    &--orange {
      .precios {
        &__name,
        &__price {
          color: #ddb146;
        }
        &__button {
          color: #ddb146;
          border: 2px solid #ddb146;
          transition: all 0.2s;
          &:hover {
            background: #ddb146;
            color: #fff;
          }
        }
      }
    }
  }
  &__name {
    font-size: 3.2rem;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  &__price {
    font-weight: 300;
    font-size: 4rem;
  }
  &__list {
    list-style: none;
    padding: 0 20px;
    margin-bottom: 50px;
    li {
      font-size: 1.8rem;
      padding: 15px 0;
      border-bottom: 1px solid #dedede;
    }
  }
  &__button {
    width: 70%;
    padding: 15px 0;
    font-size: 1.6rem;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
  }
}

.reviews {
  padding: 70px;
  &__title {
    text-align: center;
    font-weight: 300;
    font-size: 3.2rem;
    color: #4facd3;
    margin-bottom: 70px;
  }
  &__customer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__container-img {
    margin: 0px 20px;
    img {
      border-radius: 100%;
    }
  }
  &__review--right {
    text-align: right;
  }
}

@media screen and (max-width: 576px) {
  .precios {
    &__precio {
      margin-bottom: 30px;
    }
  }
}
